<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Root to User Login" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="public/index.php?controller=User&amp;method=login" appendQueryString="true" />
                </rule>
                <rule name="Login Rewrite" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="public/index.php?controller=User&amp;method=login" appendQueryString="true" />
                </rule>
                <rule name="Feed Rewrite" stopProcessing="true">
                    <match url="^feed$" />
                    <action type="Rewrite" url="public/index.php?controller=Binsta&amp;method=feed" appendQueryString="true" />
                </rule>
                <rule name="Post Rewrite" stopProcessing="true">
                    <match url="^post$" />
                    <action type="Rewrite" url="public/index.php?controller=Binsta&amp;method=post" appendQueryString="true" />
                </rule>
                <rule name="Settings Rewrite" stopProcessing="true">
                    <match url="^settings$" />
                    <action type="Rewrite" url="public/index.php?controller=Binsta&amp;method=settings" appendQueryString="true" />
                </rule>
                <rule name="Profile Rewrite" stopProcessing="true">
                    <match url="^profile/(.+)[/]?$" />
                    <action type="Rewrite" url="public/index.php?controller=Binsta&amp;method=profile" appendQueryString="true" />
                </rule>
                <rule name="Register Rewrite" stopProcessing="true">
                    <match url="^register$" />
                    <action type="Rewrite" url="public/index.php?controller=User&amp;method=register" appendQueryString="true" />
                </rule>
                <rule name="Logout Rewrite" stopProcessing="true">
                    <match url="^logout$" />
                    <action type="Rewrite" url="public/logout.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
